<div class="video-container">
    <!-- Video de fondo -->
    <video autoplay muted loop id="background-video" class="w-100">
        <source src="https://cdn.pixabay.com/video/2024/02/29/202392-918066367_large.mp4" type="video/mp4">
        Tu navegador no soporta videos HTML5.
    </video>

    <!-- Overlay oscuro -->
    <div class="overlay"></div>

    <!-- Contenido que se muestra encima del video -->
    <div class="content text-center text-white">
        <h1 class="display-4 title fw-bold mb-5 mt-3">HOTEL PALACIO DEL MAR</h1>
        <button class="btn btn-primary btn-xl p-3 pulse-button" routerLink="/habitaciones" >Reservar ahora</button>
    </div>
</div>